/truebed/training_data/
/truebed/output/
/truebed/archived/
/simbed/training_data/
/simbed/output/
/simbed/archived/
/pilot/simbed/training_data/
/pilot/simbed/output/
/pilot/truebed/training_data/
/pilot/truebed/output/
archived/
.RData