archived/
/truebed/training_data/
/truebed/output/
/truebed/archived/
/simbed/training_data/
/simbed/output/
/simbed/plots/
/simbed/archived/
/simbed/.RData*
/pilot/simbed/training_data/
/pilot/simbed/output/
/pilot/truebed/training_data/
/pilot/truebed/output/
real_data/data/
real_data/output/
real_data/neural_bayes/
real_data/plots/
real_data/archived/
linear_gaussian/
ice_sheet_solvers/
.RData